[Desktop Entry]
Encoding=UTF-8
Name=dougcoin
Comment=dougcoin P2P Cryptocurrency
Comment[fr]=dougcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=dougcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/dougcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/dougcoin128.png
MimeType=x-scheme-handler/dougcoin;
Categories=Office;
